*::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}
body{
    background-color:black;
}

h1 {
    text-align: center;
    color: aquamarine;
}

form input {
    height: 50px;
    width: 100%;
}

.calculator {
    border-radius: 10px;
    box-shadow: aquamarine;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 32px;
    max-inline-size: 330px;
    overflow: hidden;
    padding: 10px;
    background-color: paleturquoise;
}

.calculator-screen {
    font-size: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1rem;
    text-align: end;
    width: 93.75%;
} 

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    
}

.numbers {
    background-color: aqua;
    border: 1px solid black;
    padding-block-start: 16px;
    padding-block-end: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    font-size: 17px;
}

.equal-sign{
    grid-column: 4 / 6;
    grid-row: 1 / span 7;
    background: rgb(60, 182, 201);
}
.operator {
    border: 1px solid black;
    background-color: aquamarine;
}
.all-clear{
    border: 1px solid black;
    background-color: aquamarine;

}
.equal-sign operator{
    border: 1px solid black;
    background-color: aquamarine;

}
.period{
    border: 1px solid black;
    background-color: aquamarine;
}